### LWCC  Session 29 - September 1st 2024

#### Special methods (contd.)

In [5]:
class User:
    def __init__(self, name, score, age):
        self.name, self.score, self.age = name, score, age

    def __str__(self):
        return self.name
    
    def __int__(self):
        return self.age
    
    def __float__(self):
        return self.score
    
    def __bool__(self):
        return self.age >= 18
    
u = User("John", 56.7, 25)
print(str(u), int(u), float(u))

int(u) + 20

John 25 56.7

45

In [10]:
u = User("John", 3.4, 15)

if u:
    print(u, "is old enough to vote")
else:
    print(u, "is not old enough to vote" )

John is not old enough to vote

In [12]:
bool(u)
u.__bool__()

False

In [15]:
class Student:
    def __init__(self, n, p, m, c):
        self.n, self.p, self.m, self.c = n, p, m, c

    def __bool__(self):
        return self.p > 50 and self.m > 50 and self.c > 50
    

s = Student("Smith", 67, 20, 78)
if s:
    print("Passed")
else:
    print("Failed")

Failed

In [22]:
class Car:
    def __init__(self, make):
        self.make = make

    def __str__(self):
        return f"<Car make='{self.make}'>"
    
    def __add__(self, other):
        return Car(self.make + " " + other.make)

c1 = Car("Maruti")
c2 = Car("Suzuki")
print(c1, c2)
c3 = c1 + c2 # c1.__add__(c2) # Car.__add__(c1, c2)
print(c3)

<Car make='Maruti'> <Car make='Suzuki'>
<Car make='Maruti Suzuki'>

In [28]:
class Test:
    def testfn(x, y):
        print(f"In testfn: {x=}, {y=}")

t = Test()
print(t)
t.testfn(10)

<__main__.Test object at 0x000001EB44A58220>
In testfn: x=<__main__.Test object at 0x000001EB44A58220>, y=10

In [37]:
class Num:
    def __init__(self, v):
        self.v = v

    def __repr__(self): 
        return str(self.v)
    
    def __add__(self, other):
        print(f"{self=}, {other=}")
        return Num(self.v + other.v)

x = Num(10)
y = Num(20)
print(x, y)
x.__add__(y) # Num.add(x, y)
z = x + y
print(z)

10 20
self=10, other=20
self=10, other=20
30

In [39]:
class Test:
    pass

t = Test()
print(t)

<__main__.Test object at 0x000001EB44971360>

In [42]:
Test.__base__

object

#### Data model methods / attributes:

##### Emulating numeric types:
   - `__add__() +`, `__sub__() -`, `__mul__() *`, `__truediv__() /`, `__floordiv__() //`, `__pow__() **`, `__mod__() %`
   - `__eq__() ==`, `__ne__() !=`, `__gt__() >`, `__lt__() <`, `__ge__() >=`, `__le__() <=`
   - `__or__() |`, `__and__() &`, `__xor__() ^`, `__lshift__() <<`, `__rshift__() >>`, `__invert__() ~`

** More on data model methods in https://docs.python.org/3/reference/datamodel.html#special-method-names **

In [51]:
class Fraction:
    def __init__(self, numerator, denominator):
        self.n, self.d = numerator, denominator
        self.__simplify()

    def __simplify(self):
        x, y = self.n, self.d
        while y:
            x, y = y, x % y
        self.n //= x
        self.d //= x

    def __str__(self):
        return f"{self.n}/{self.d}"

    def __add__(a, b):
        return Fraction(a.n * b.d + b.n * a.d, a.d * b.d)

a = Fraction(50, 100) # 1/2
b = Fraction(16, 64)
print(a, b) # 1/2

print(a + b)
print(a - b)
print(a * b)
print(a / b)

print(a > b)   # True
print(a < b)   # False
print(a == b)  # False

1/2 1/4
3/4

In [62]:
import sqlite3

conn = sqlite3.connect("testdb")
conn

In [63]:
cursor = conn.cursor()
cursor

In [55]:
cursor.execute("CREATE TABLE users(name VARCHAR(32), password VARCHAR(32), fullname VARCHAR(32))")

OperationalError: table users already exists

In [56]:
def parse_users(filename):
    users = {}
    with open(filename) as u:
        for line in u:
            line = line.strip()
            if not line:  # if not bool(line)
                continue
            u, p, f = line.split(",")
            rec = {"username": u, "password": p, "fullname": f}
            users[u] = rec
    return users

users = parse_users("users.csv")
users

{'john': {'username': 'john', 'password': 'john123', 'fullname': 'John Doe'},
 'smith': {'username': 'smith',
  'password': 'secret',
  'fullname': 'Adam smith'},
 'guido': {'username': 'guido',
  'password': 'secret123',
  'fullname': 'Guido Van Rossum'},
 'raymond': {'username': 'raymond',
  'password': 'h3t1n',
  'fullname': 'Raymond Hettinger'},
 'steve': {'username': 'steve',
  'password': 'welcome123',
  'fullname': 'Stephen Bourne'},
 'larry': {'username': 'larry',
  'password': 'walls123',
  'fullname': 'Larry Walls'}}

In [57]:
insert_sql = "INSERT INTO users(name, password, fullname) VALUES(?, ?, ?)"

for rec in users.values():
    cursor.execute(insert_sql, tuple(rec.values()))

In [67]:
conn.commit()
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [64]:
cursor.execute("SELECT * FROM users")
for rec in cursor:
    print(rec)

('john', 'john123', 'John Doe')
('smith', 'secret', 'Adam smith')
('guido', 'secret123', 'Guido Van Rossum')
('raymond', 'h3t1n', 'Raymond Hettinger')
('steve', 'welcome123', 'Stephen Bourne')
('larry', 'walls123', 'Larry Walls')

In [65]:
len(cursor)

TypeError: object of type 'sqlite3.Cursor' has no len()

In [ ]:
Fraction(33, 99)
# 1/3