### LWCC  Session 52 - December 8th 2024

#### Basic Database Management - Overview - Part 2

In [1]:
data = {
    "john": {"place": "denver", "age": 40},
    "smith": {"place": "seattle", "age": 17},
    "joe": {"place": "delhi", "age": 30},
    "jane": {"place": "moscow", "age": 25}
}
data

{'john': {'place': 'denver', 'age': 40},
 'smith': {'place': 'seattle', 'age': 17},
 'joe': {'place': 'delhi', 'age': 30},
 'jane': {'place': 'moscow', 'age': 25}}

In [ ]:
import shelve
s = shelve.open("users")
s.update(data)
for k, v in s.items():
    print(k, v)

s.close()

john {'place': 'denver', 'age': 40}
smith {'place': 'seattle', 'age': 17}
joe {'place': 'delhi', 'age': 30}
jane {'place': 'moscow', 'age': 25}

In [9]:
s.close()

In [ ]:
a = {"x": 10, "y": 20}
b = {}
b.update(a)
print(a, b)
a["x"] = 100
print(a, b)

{'x': 10, 'y': 20} {'x': 10, 'y': 20}
{'x': 100, 'y': 20} {'x': 10, 'y': 20}

In [5]:
a = {"x": 10, "y": 20}
b = {}
b.update(a)
print(a, b)
a["x"] = 100
print(a, b)

{'x': 10, 'y': 20} {'x': 10, 'y': 20}
{'x': 100, 'y': 20} {'x': 10, 'y': 20}

In [4]:
a = {"x": 10, "y": 20}
b = {}
b = a
print(a, b)
a["x"] = 100
print(a, b)

{'x': 10, 'y': 20} {'x': 10, 'y': 20}
{'x': 100, 'y': 20} {'x': 100, 'y': 20}

In [ ]:
a = {"x": 10, "y": 20}
b = {}
b["z"] = 30

{'x': 10, 'y': 20} {'x': 10, 'y': 20}

In [6]:
a = {"x": 10, "y": 20}
b = dict(a)
print(a, b)
a["x"] = 100
print(a, b)

{'x': 10, 'y': 20} {'x': 10, 'y': 20}
{'x': 100, 'y': 20} {'x': 10, 'y': 20}

In [7]:
a = {"x": 10, "y": 20}
b = {"z": 30, "w": 40}
b.update(a)
print(a, b)
a["x"] = 100
print(a, b)

{'x': 10, 'y': 20} {'z': 30, 'w': 40, 'x': 10, 'y': 20}
{'x': 100, 'y': 20} {'z': 30, 'w': 40, 'x': 10, 'y': 20}

In [ ]:
data = {
    "john": {"place": "denver", "age": 40},
    "smith": {"place": "seattle", "age": 17},
    "joe": {"place": "delhi", "age": 30},
    "jane": {"place": "moscow", "age": 25}
}
data

{'john': {'place': 'denver', 'age': 40},
 'smith': {'place': 'seattle', 'age': 17},
 'joe': {'place': 'delhi', 'age': 30},
 'jane': {'place': 'moscow', 'age': 25}}

In [ ]:
import shelve
s = shelve.open("users")
s.update(data)
for k, v in s.items():
    print(k, v)

s.close()

john {'place': 'denver', 'age': 40}
smith {'place': 'seattle', 'age': 17}
joe {'place': 'delhi', 'age': 30}
jane {'place': 'moscow', 'age': 25}

In [12]:
b = {}
b.update(data)
b["smith"]["place"] = "mumbai"
b

{'john': {'place': 'denver', 'age': 40},
 'smith': {'place': 'mumbai', 'age': 17},
 'joe': {'place': 'delhi', 'age': 30},
 'jane': {'place': 'moscow', 'age': 25}}

In [16]:
import shelve
with shelve.open("users") as s:
    print(s["smith"]["place"])
    s["smith"]["place"] = "delhi"
    print(s["smith"]["place"])

seattle
seattle

In [17]:
import shelve
with shelve.open("users") as s:
    print(s["smith"]["place"])
    s["dave"] = {"place": "ottawa", "age": 32}
    print(s["dave"])

seattle
{'place': 'ottawa', 'age': 32}

In [18]:
import shelve
with shelve.open("users") as s:
    print(s["smith"]["place"])
    s["dave"] = {"place": "sydney", "age": 45}
    print(s["dave"])

seattle
{'place': 'sydney', 'age': 45}

In [19]:
import shelve
with shelve.open("users") as s:
    s["dave"]["place"] = "new york"
    print(s["dave"])

{'place': 'sydney', 'age': 45}

In [23]:
import shelve
with shelve.open("users") as s:
    rec = s["dave"]
    print(rec)
    rec["place"] = "seattle"
    print(rec)
    s["dave"] = rec
    print(s["dave"])

{'place': 'sydney', 'age': 45}
{'place': 'seattle', 'age': 45}
{'place': 'seattle', 'age': 45}

In [24]:
with shelve.open("test") as t:
    t["a"] = [10, 20, 30, 40]
    print(t["a"])

[10, 20, 30, 40]

In [26]:
with shelve.open("test") as t:
    print(t["a"])
    t["a"][0] = 100
    print(t["a"])

[10, 20, 30, 40]
[10, 20, 30, 40]

In [ ]:
with shelve.open("test") as t:
    print(t["a"])
    n = t["a"]    # Read the record
    n[0] = 100    # Modify the record in memory
    t["a"] = n    # Store the modified record back to disk

    print(t["a"])

[10, 20, 30, 40]
[100, 20, 30, 40]

In [29]:
data = {
    "john": {"place": "denver", "age": 40},
    "smith": {"place": "seattle", "age": 17},
    "joe": {"place": "delhi", "age": 30},
    "jane": {"place": "moscow", "age": 25},
    "tom": {"place": "seattle", "age": 42},
    "tim": {"place": "seattle", "age": 21}
}

for name, rec in data.items():
    if rec["place"] == "seattle":
        print(rec["age"])

[ rec["age"] for name, rec in data.items() if rec["place"] == "seattle"]

17
42
21

[17, 42, 21]

In [ ]:
# RDBMS -> Relational DataBase Management Systems
# Old legacy RDBMS: DBase, FoxPro, Clipper, Microsoft Access
# SQL-compliant RDBMS -> Popularly adopted standard for RDBMS
#   - Oracle, Sybase, Informix, MS-SQL Server (Top commercial-grade RDBMS)
#   - PostgreSQL, MySQL, MariaDB (Free/Open Source RDBMS)
#   - SQLite3 - Light-weight, Free/Open Source Standards compliant RDBMS which world's highly deployed database

# SQL -> Structured Query Language