### LWCC  Session 53 - December 15th 2024

#### Basic Database Management - Overview - Part 3

In [ ]:
# RDBMS -> Relational DataBase Management Systems
# Old legacy RDBMS: DBase, FoxPro, Clipper, Microsoft Access
# SQL-compliant RDBMS -> Popularly adopted standard for RDBMS
#   - Oracle, Sybase, Informix, MS-SQL Server (Top commercial-grade RDBMS)
#   - PostgreSQL, MySQL, MariaDB (Free/Open Source RDBMS)
#   - SQLite3 - Light-weight, Free/Open Source Standards compliant RDBMS which world's highly deployed database

# SQL -> Structured Query Language

#### Introduction to SQLite3

In Python, to work with SQL compliant RDBMS, we use DB-API (DataBase - Application Programming Interface)

In [2]:

import sqlite3 as driver
# Data-Source-Notation - changes with different database drivers
DSN = "employees" # On SQLite3, this is just the filename which acts as a database
conn = driver.connect(DSN)
conn # Connection objects support connection management, transactions and factories for database features

In [3]:
cur = conn.cursor()
cur # The Cursor objects provide means to execute queries for managing database

In [4]:
CREATE_USERS = """CREATE TABLE users(
                name        VARCHAR(32),
                role        VARCHAR(32),
                salary      INTEGER,
                join_date   DATETIME
)"""
cur.execute(CREATE_USERS)

In [8]:
CREATE_USERS = """CREATE TABLE users2(
                name        VARCHAR(32),
                role        VARCHAR(32),
                salary      INTEGER
                join_date   ytuytyutyut
)"""
cur.execute(CREATE_USERS)

OperationalError: table users2 already exists

In [10]:
INSERT_ROW = """INSERT INTO users(name, role, salary, join_date) VALUES(?,?,?,?)"""
cur.execute(INSERT_ROW, ("John", "Developer", 4567890, "20240306"))

In [11]:
SELECT_ROWS = """SELECT * FROM users"""
cur.execute(SELECT_ROWS)

In [12]:
for row in cur:
    print(row)

('John', 'Developer', 4567890, 20240306)

In [15]:
CREATE_USERS = """CREATE TABLE IF NOT EXISTS users(
                name        VARCHAR(32),
                role        VARCHAR(32),
                salary      INTEGER,
                join_date   DATETIME
)"""
cur.execute(CREATE_USERS)

In [17]:
conn.close()

In [16]:
a = ""
b = None
a == b

False